asgiref==3.6.0
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
certifi==2022.12.7
cffi==1.16.0
channels==4.0.0
charset-normalizer==3.1.0
constantly==23.10.4
cryptography==41.0.5
daphne==4.0.0
dj-database-url==1.3.0
Django==4.1.7
django-cors-headers==3.14.0
gevent==23.9.1
greenlet==3.0.1
gunicorn==20.1.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
Pillow==9.4.0
psutil==5.9.6
psycopg2-binary==2.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyGetWindow==0.0.9
pyOpenSSL==23.3.0
PyRect==0.2.0
python-dotenv==1.0.0
pytz==2023.2
pywin32==306
PyYAML==6.0
requests==2.28.2
service-identity==23.1.0
six==1.16.0
sqlparse==0.4.3
sshuttle==1.1.1
Twisted==23.10.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typing_extensions==4.5.0
tzdata==2023.2
urllib3==1.26.15
websocket==0.2.1
websockets==12.0
zope.event==5.0
zope.interface==6.1
