{% extends 'base.html' %}
{% load static %}

{% block page_title%}Login{%endblock%}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block main %}

    <section id="form-section">
        <form action="" method="post" class="login-form">
            {% csrf_token %}
            <h1>Login</h1>

            {{ form }}
            <input type="submit" value="Login">
            <p class="account-query">Don't have an account? <a href="{% url 'user:signup' %}">Sign up</a></p>
        </form>
    </section>
{% endblock %}